<ul class="summary2 flexrow">
    <li>
        <input type="text" name="flags.lotr5e.details.disfeat" value="{{flags.lotr5e.details.disfeat}}" placeholder="{{ localize 'LOTR.Feature' }}"/>
    </li>
    <li>
        <input type="text" name="flags.lotr5e.details.shadowpath" value="{{flags.lotr5e.details.shadowpath}}" placeholder="{{ localize 'LOTR.ShadowPath' }}"/>
    </li>
    <li>
    <input type="text" name="flags.lotr5e.details.livingStandard" value="{{flags.lotr5e.details.livingStandard}}" placeholder="{{ localize 'LOTR.LivingStandard' }}"/>
    </li>
</ul>
