<div class="counter flexrow inspiration">
    <h4>{{ localize "DND5E.Inspiration" }}</h4>
    <div class="counter-value">
        <input type="checkbox" name="system.attributes.inspiration" data-dtype="Boolean"
            {{checked system.attributes.inspiration}}/>
    </div>
</div>
<div class="counter flexrow miserable">
    <h4>{{ localize "LOTR.Miserable" }}</h4>
    <div class="counter-value">
        <input type="checkbox" name="flags.lotr5e.attributes.miserable" data-dtype="Boolean" {{checked flags.lotr5e.attributes.miserable}}/>
    </div>
</div>
<div class="counter flexrow anguished">
    <h4>{{ localize "LOTR.Anguished" }}</h4>
    <div class="counter-value">
        <input type="checkbox" name="flags.lotr5e.attributes.anguished" data-dtype="Boolean" {{checked flags.lotr5e.attributes.anguished}}/>
    </div>
</div>
