<li class="lotr5eli">
    <label class="lotr5eSum">
        <span class="roboto-upper label">{{ localize 'LOTR.LivingStandard' }}</span>
        {{#if @root.editable}}
        <input type="text" name="flags.lotr5e.details.livingStandard" value="{{actor.flags.lotr5e.details.livingStandard}}" placeholder="{{ localize 'LOTR.LivingStandard' }}"/>
        {{else}}
        <span class="value">{{ actor.flags.lotr5e.details.livingStandard }}</span>
        {{/if}}
    </label>
</li>
<li class="lotr5eli">
    <label class="lotr5eSum">
        <span class="roboto-upper label">{{ localize 'LOTR.ShadowPath' }}</span>
        {{#if @root.editable}}
        <input type="text" name="flags.lotr5e.details.shadowpath" value="{{actor.flags.lotr5e.details.shadowpath}}" placeholder="{{ localize 'LOTR.ShadowPath' }}"/>
        {{else}}
        <span class="value">{{ actor.flags.lotr5e.details.shadowpath }}</span>
        {{/if}}
    </label>
</li>
<li class="lotr5eli">
    <label class="lotr5eSum">
        <span class="roboto-upper label">{{ localize 'LOTR.Feature' }}</span>
        {{#if @root.editable}}
        <input type="text" name="flags.lotr5e.details.disfeat" value="{{actor.flags.lotr5e.details.disfeat}}" placeholder="{{ localize 'LOTR.Feature' }}"/>
        {{else}}
        <span class="value">{{ actor.flags.lotr5e.details.disfeat }}</span>
        {{/if}}
    </label>
</li>