<span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{this._id}}-livingStandard" data-placeholder="{{ localize 'LOTR.LivingStandard' }}">{{this.actor.flags.lotr5e.details.livingStandard}}</span>
<input type="hidden" data-input="{{this._id}}-livingStandard" name="flags.lotr5e.details.livingStandard" value="{{this.actor.flags.lotr5e.details.livingStandard}}" placeholder="{{ localize 'LOTR.LivingStandard' }}">
<span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{this._id}}-disfeat" data-placeholder="{{ localize 'LOTR.Feature' }}">{{this.actor.flags.lotr5e.details.disfeat}}</span>
<input type="hidden" data-input="{{this._id}}-disfeat" name="flags.lotr5e.details.disfeat" value="{{this.actor.flags.lotr5e.details.disfeat}}" placeholder="{{ localize 'LOTR.Feature' }}">
<span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{this._id}}-shadowpath" data-placeholder="{{ localize 'LOTR.ShadowPath' }}">{{this.actor.flags.lotr5e.details.shadowpath}}</span>
<input type="hidden" data-input="{{this._id}}-shadowpath" name="flags.lotr5e.details.shadowpath" value="{{this.actor.flags.lotr5e.details.shadowpath}}" placeholder="{{ localize 'LOTR.ShadowPath' }}">
